*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgb(241, 199, 147);
   height: 80px;
   
}
nav ul {
    display: flex;
    font-size: 18px;

}
nav ul li{
    margin-left: 50px;
    list-style: none;
    
}
nav ul li a{
    color: black;
}
nav img{
    height: 150px;
    width: 250px;
}
.ul1{
    margin-left: -20px;
}
nav button{
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: -10px;
}
.dropdown{
    background-color: rgb(241, 199, 147);
    width:  100px;
    z-index: 1;
    display: none;
    position: absolute;
}
.dropdown a{
    display: block;
    padding-bottom: 10px;
}
.navitem:hover .dropdown{
    display: block;
}
nav a:hover{
    font-size: 20px;
}
nav ion-icon{
    font-size: 25px;
}
.ul2{
    margin-top: 5px;
}
.a1-a2{
    display: flex;
    margin-left: 20px;
    padding: 30px;
}
.a1 h2{
   font-size: 40px;
   color: #4c8b0c;
  
      
}
.a1 ul{
    font-size: 20px;


}
.a2 img{

    height: 300px;
    width: 500px;
    margin-left: 120px;
    margin-top: 150px;
    border-radius: 15px;
}

.a2 img:hover{
    transform: scale(1.1);
}




.icon-container {
    text-align: center;
    margin-top: 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}
